<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @article.id && current_user.admin? %>
  <%= form_tag("/admin/content/merge") do %>
    <h4><%= _("Merge Articles") %></h4>
    <label for="merge_with" style="width:auto;margin:0px 5px 10px 0px">Article ID</label>
    <input type="text" name="merge_with" style="margin:0px 0px 10px 0px"/> <br>
    <input type="hidden" name="article_id" value=<%= @article.id %> />
    <%= submit_tag 'Merge', {:class => 'btn info'} %>
  <% end %>
<% end %>
